@charset "UTF-8";
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

li::before {
  content: "\2022";
  color: #b2b2b3;
  display: inline-block;
  width: 1.75rem;
  font-size: inherit; }

html {
  height: 100% !important;
  overflow: hidden; }

@font-face {
  font-family: Molengo;
  src: url(/static/Molengo-Regular.ttf); }

@font-face {
  font-family: FolioTLig;
  src: url(/static/foliotlig.ttf); }

html, body, #__next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #9ee1da;
  height: auto;
  margin: auto;
  max-width: calc(100% - 50px); }

@media only screen and (max-width: 800px) {
  html, body, #__next {
    max-width: 100%; } }

div.item {
  z-index: 1;
  color: inherit;
  font-size: 64px;
  font-family: Molengo;
  background-color: #9ee1da;
  padding: 20px 30px;
  max-width: 700px; }

div.body.item {
  font-size: 21px;
  line-height: 30px;
  font-family: FolioTLig; }

div.iconcontainer {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #9ee1da;
  z-index: 2;
  margin-bottom: 20px; }

@keyframes textColor {
  0% {
    color: #717bd3; }
  50% {
    color: #7f9180; }
  100% {
    color: #717bd3; } }

div.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 1250px;
  height: 760px;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  text-align: center;
  color: #AEE6E0;
  animation: textColor 10s ease infinite;
  justify-content: center; }
  @media only screen and (max-width: 762px) {
    div.container {
      width: 100%;
      height: 100%;
      max-width: calc(100vw - 40px);
      max-height: calc(100vh - 40px);
      overflow: hidden; } }

@keyframes strokeColor {
  0% {
    stroke: #717bd3; }
  50% {
    stroke: #7f9180; }
  100% {
    stroke: #717bd3; } }

div > svg > g > path.hoverchange {
  opacity: 0.298;
  transition: opacity 0.25s ease-in; }

div:hover > svg > g > path.hoverchange {
  opacity: 1; }

div.line {
  width: 90px;
  height: 2px;
  animation: bgColor 10s ease infinite;
  margin: 30px auto 60px; }

@media only screen and (max-width: 762px) {
  div.container {
    margin: 40px 0;
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 80px); }
  div.item {
    margin: 0 0 40px; }
  div.body.item {
    padding: 0 20px;
    font-size: 22px;
    line-height: 32px; }
  div.line {
    height: 1px; } }

@media only screen and (max-device-width: 1000px) {
  div.container {
    margin: 40px; }
  div.item {
    font-size: 32px;
    line-height: 21px; }
  div.body.item {
    padding: 0 20px;
    font-size: 16px;
    line-height: 21px; } }

@keyframes bgColor {
  0% {
    background-color: #717bd3; }
  50% {
    background-color: #7f9180; }
  100% {
    background-color: #717bd3; } }

div.container:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -50;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  opacity: 0.7;
  transform: scale(0.95);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #717bd3, #7f9180);
  background: linear-gradient(90deg, #717bd3, #7f9180);
  background-size: 200%, 200%;
  animation: animateGlow 10s ease infinite; }

@keyframes animateGlow {
  0% {
    background-position: 0% 75%, 150% 75%; }
  50% {
    background-position: 150% 75%, 0% 75%; }
  100% {
    background-position: 0% 75%, 150% 75%; } }

@media only screen and (max-width: 762px) {
  div.container:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -50;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    opacity: 0.7;
    transform: scale(0.85);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #717bd3, #7f9180);
    background: linear-gradient(90deg, #717bd3, #7f9180);
    background-size: 200%, 200%;
    animation: animateGlow 10s ease infinite; }
  @keyframes animateGlow {
    0% {
      background-position: 0% 75%, 150% 75%; }
    50% {
      background-position: 150% 75%, 0% 75%; }
    100% {
      background-position: 0% 75%, 150% 75%; } } }

@media only screen and (max-device-width: 1000px) {
  div.container:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -50;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    opacity: 0.7;
    transform: scale(0.85);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #717bd3, #7f9180);
    background: linear-gradient(90deg, #717bd3, #7f9180);
    background-size: 200%, 200%;
    animation: animateGlow 10s ease infinite; }
  @keyframes animateGlow {
    0% {
      background-position: 0% 75%, 150% 75%; }
    50% {
      background-position: 150% 75%, 0% 75%; }
    100% {
      background-position: 0% 75%, 150% 75%; } } }

canvas {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10; }

